.before_page {
    background-image: url(../images/before_background3.jpg);
    background-size: contain;
    filter: saturate(80%);
}

.before_dress_title {
    font-family: 'Freckle Face', cursive;
    font-size: 4rem;
    color: rgb(68, 66, 66);
    text-align: right;
    margin: 20px 0px 20px 200px;
    padding: 0.5em;
    text-shadow: 0 0 0.125em currentColor;
    transform: perspective(6em) rotateY(30deg);
}

.before_dress_img1 {
    width: 600px;
    margin-left: 500px;
}

.before_dress_img2 {
    width: 700px;
    float: left;
}

.it_might {
    font-family: 'Freckle Face', cursive;
    font-size: 5rem;
    color: rgb(68, 66, 66);
    text-align: right;
    margin: 100px 20px 100px 150px;
    text-shadow: 0 0 0.125em currentColor;
    transform: perspective(3em) rotateY(20deg);
}

.before_dress_img3 {
    width: 600px;
    margin-left: 300px;
}

.before_workout_title {
    font-family: 'Freckle Face', cursive;
    font-size: 4rem;
    color: rgb(68, 66, 66);
    text-align: right;
    margin-right: 10px;
    text-shadow: 0 0 0.125em currentColor;
}

.before_workout_img1 {
    width: 80%;
    margin-left: 100px;
}

.before_workout_img3 {
    width: 60%;
    margin-left: 200px;
}

.before_wedding_title {
    font-family: 'Freckle Face', cursive;
    font-size: 3rem;
    color: rgb(68, 66, 66);
    margin-left: 35%;
    text-shadow: 0 0 0.125em currentColor;
}

.before_wedding_img1 {
    margin-left: 10%;
}

.before_wedding_img2 {
    width: 70%;
    margin-left: 100px;
}

.before_wedding_img3 {
    width: 500px;
    margin-left: 50%;
}

.before_bottom {
    text-align: center;
    font-family: 'Freckle Face';
    color: rgb(4, 105, 131);
}