@import url("../styles/joyce_before.css");
@import url("../styles/joyce_after.css");
.main_page {
    background-image: url("../images/main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(150%);
}

.top_icon {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.before_after {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px 0px 20px;
    color: aqua;
}

.before {
    font-family: 'Freckle Face', cursive;
    font-size: 3rem;
    margin-right: 60px;
    margin-top: 55px;
    animation: blink 400ms infinite;
    text-shadow: 0 0 0.4em currentColor;
}

.before:hover {
    filter: drop-shadow(50px 50px 50px rgb(7, 22, 228)) invert(30%);
}

.after {
    font-family: 'Freckle Face', cursive;
    font-size: 3rem;
    margin-left: 80px;
    margin-top: 50px;
    animation: blink 400ms infinite;
    text-shadow: 0 0 0.4em currentColor;
}

@keyframes blink {
    50% {
        transform: scale(1.1);
    }
}

.after:hover {
    filter: drop-shadow(50px 50px 50px rgb(7, 22, 228)) invert(30%);
}

.zoom_life {
    font-family: 'Freckle Face', cursive;
    font-size: 7rem;
    animation-name: zoomLife;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    color: rgb(49, 48, 48);
    text-shadow: 0 0 0.25em rgb(54, 59, 54);
    transform: perspective(3em) rotateX(60deg);
}

a:link {
    text-decoration: none;
}

@keyframes zoomLife {
    50% {
        transform: scale(1.5);
    }
}

.zoom_life:hover {
    transform: scale(1.5);
}

.gif {
    border-radius: 50%;
    opacity: 0.7
}

.gif:hover {
    transform: scale(1.5) rotate(40deg);
}

.bottom_icon {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}