body {
    background-image: url(../images/zoom_gone_right_2\ \(1\).gif);
}

.title {
    font-family: 'Press Start 2P', cursive;
    animation: bounce-title 4s infinite;
    position: relative;
    height: 80px;
    margin: 10px;
    font-size: 5rem;
    text-shadow: 0 0 0.25em currentColor;
    color: moccasin;
}

@keyframes bounce-title {
    0% {
        left: 0px;
        down: 20px;
    }
    50% {
        left: 100px;
        top: 100px;
    }
    100% {
        left: 0px;
        up: 50px;
    }
}

.two {
    display: flex;
    justify-content: space-between;
}

video {
    margin: 20px;
}

.lynn {
    margin-left: 30%;
}